html{
	background-color: gray;
}



nav{
	color: white;
	background-color: green;
	font-size: 50px;
}

.sareh{
	background-color: green;

}

#home-link{
	background-color: black;
}

.info{
	font-size: 15px;
	background-color: white;
}

header {	text-align: center;
	font-size: 60px;
	background-color: white;
}
p{
	font-size: 45px;
	
}

footer{
	background-color: green;
}