html{
	background-color: white;
}



nav {
	
	background-color: green;
	font-size: 25px;
	font-weight: bold;
	color: gold;
	
}


.sareh{
	background-color: green;

}


.info{
	font-size: 15px;
	background-color: white;

}

header {	text-align: center;
	font-size: 60px;
	background-color: white;
	border:black;
}
p{
	font-size: 45px;
	
}

footer{
	background-color: green;
}

#pic{border: 5px
	 solid black;
	
}
.konzept{
	background-color: green;
	font-size: 30px !important;
}
.menu li{
	display: inline-block;
	float: left;
	padding-right: 36px;
	 text-decoration: underline;
}