html{
	background-color: gray;
}



nav{
	color: white;
	background-color: green;
	font-size: 50px;
}

.sareh{
	background-color: green;

}

#home-link{
	background-color: black;
}

.info{
	font-size: 15px;
	background-color: white;
}