body,html {
	height:100%;
	margin:auto;
}

body {
	background-image:url(../images/cover.jpg);
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}



h1 {
	color:red;
	letter-spacing: 3px;
	text-shadow: 3px 2px black;
	font-style: italic;
	background:orange;
	border:1px solid blue;
	margin:auto;
	padding:60px;
	width:90%;
	opacity:0.7;
}

#nav ul {
	list-style-type:none;
	margin:auto;
	padding:30px;
	overflow: hidden;
	background-image:url("../images/logo.png");
	background-repeat:no-repeat;
	background-position:right top;
	background-size:80px 100px;
	background-color:black;
	opacity:0.7
}
#nav li {
	float: left;

}

#nav li a {
	padding:14px 16px;
	text-align:center;
	font-weight: bold;
	color:#ffffff;
	text-decoration:none;
	font-size:16px;
	display:block;
}
#nav li a:hover {
	background-color:red;
}
.main-container h2 {
	margin:0;
	padding:0;
	font-size:30px;
	color:white;

}

.main-container p::first-line {
	color:orange;
	font-weight:bold;
}

p {
	color:white;
	font-weight:bold;
	text-indent:50px;

}