body{
background-color: #2998E4;
}



h1,h2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}

h3, h4{
	color: #00D3D3;
}

#slide{
	box-sizing: border-box;
}

.slideshow{
	max-width: 900px;
	position: relative;
	margin: 10px 60px auto 30px; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	

}

.mySlides{
	
}

.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5; 
}

@keyframes fade{
	from{opacity: .3}
	to{opacity: 2}
}

@-webkit-keyframes fade{
	from {opacity: .3}
	to {opacity: 2}
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	
}

.text{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100px;
	text-align: center;
	
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}

.dot{
	cursor:pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	
	
}

.active, .dot:hover{
	background-color: #717171;
}

#container{
	width: 2000px;
	margin: 10px auto;
	max-width: 100%;
	position: relative;
}
h1{
	color: #00D3D3;
	
	text-align: center;
}
#button{
	float: left;
	width: 900px;
	float: left;
	margin: auto 20px;
	font-size: 20px;
	
	
}
#header{
	background-image: url("../Fotos/oldtimer.jpg");
	height: 200px;;
	max-width: 900px;
	background-position: center center;
	background-repeat: no-repeat;
	
	margin: 10px 60px auto 30px;
}

#city{
	float: left;
	margin: auto 10px 10px;
	clear: right;
	width: 200px;	
	
}

#pick{
	float: left;
	margin: auto 40px 3px;
	clear: right;
	width: 200px;
	
}

#return{
	float: left;
	margin: auto 80px 3px;;
	clear: right;
	width: 200px;
}

footer{
	
	height: 40px;
	background-color: white;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: center center;
	margin: 0 auto;
}

ul > li{
	display: inline;
	float: left;
	margin: 0 10px;	
}

li p{
	text-align: center;
	font-size: 12px;
	
}

nav{
	position: absolute;
	right: 0;
	color: white;
	float: right;
	width: 100px;
	height: 500px;
	border-style: solid;
}
#fixed{
	position: fixed;
	color: red;
	right: 10px;
	bottom: 0;
}
