body,html {
	height:100%;
	width:1200px;
	margin:0 auto;
}

body {
	background-image:url(../images/cover.jpg);
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}



h1 {
	color:red;
	letter-spacing: 3px;
	text-shadow: 3px 2px black;
	font-style: italic;
	background:orange;
	border:1px solid blue;
	margin:auto;
	padding:60px;
	width:90%;
	opacity:0.7;

	
}

#nav ul {
	list-style-type:none;
	margin:auto;
	padding:30px;
	overflow: hidden;
	background-image:url("../images/logo.png");
	background-repeat:no-repeat;
	background-position:right top;
	background-size:80px 100px;
	background-color:black;
	opacity:0.7
}
#nav li {
	float: left;

}

#nav li a {
	padding:14px 16px;
	text-align:center;
	font-weight: bold;
	color:#ffffff;
	text-decoration:none;
	font-size:22px;
	display:block;
}
#nav li a:hover {
	background-color:orange;
}
.main-container h2 {
	margin:0;
	padding:0;
	font-size:30px;
	color:white;

}
.main-container h2{
	margin-top:10px;
}

.main-container p::first-line {
	color:orange;
	font-weight:bold;
}

p {
	color:white;
	font-weight:bold;
	text-indent:50px;

}
.main-container img{
	width:1200px;
}

.booking {
	text-align:center;
}

.booking aside p {
	font-weight:bold;
	color:white;
	font-size:22px;
}
.booking form {						
	font-size:16px;

}
.cont{
	padding:20px;
}
.cont img{
	width:400px;
	height:400px;
	float:left;
}
.cont1 img{
	width:400px;
	height:400px;
}

select {
  width:30%;
  border: 1px solid #000;
  padding:.75px 1px 5px 1px;
  box-shadow:2px 1px 2px 1px;
  background-color:white;
  margin:10px;
  }

.inp{
	position:relative;
	right:20px;
	margin:5px;
	padding:5px;
}
.button {
	background-color:orange;
	border:none;
	color:white;
	padding:15px 32px;
	margin:20px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:16px;
	cursor:pointer;
	transition-duration:1s;

}
.button:hover {
	background-color:red;
}
footer{
	display:inline;
	float:left;
	padding:50px;
	position:relative;
	left:285px;
}

ul {
	list-style-type:none;
	margin:auto;

}

ul li{
	display:inline;

}

ul li a img{

	width:100px;
	height:100px;
	padding:20px;

}

.chan:visited {
	color :red;

}



















































































































