
      body{
         background: linear-gradient(to top right, #336699 0%, #ffffff 100%);
      }

      nav {
      background-color: #222;
      position: fixed;
      width: 100%;
      top: 0px;
      float: left;
  }
    nav ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      overflow: hidden;
      width: 80%;
      float: left;
    }
    nav ul li {
      display: inline;
      float: left;
    }
    nav ul li:hover {
      background-color: #333;
    }
     ul li a,
    visited {
      display: block;
      padding: 15px;
      color: #CCC;
      text-decoration: none;
    }
    #search {
      display: block;
      float: left;
      width: 20%;

    }
    #search-bar{
      padding: 7px;
      margin: 7px 0 0 0;
    }

